@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header::before {
  content: '';
  background: url('../images/bg1.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  background: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transform: 0;
  transition: all 0.4s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
